body {
  background-color: turquoise;
}

img {
  width: 1000px;
}

h2 {
  color: darkslateblue;
}
h1 {
  font-size: 80px;
  text-align: center;
}
p {
  border: #3F51B5 ridge 30px;
  border-radius: 20px;
}

.circle {
    border-radius: 50%;
    border-style: ridge;
    border-color: #FF5722;
    border-width: 5px;
    width: 100px;
    height: 100px;
    background-color: #FF5722;
    display: flex;
    justify-content: center;
    align-items: center;
}

table,
td {
    border: 1px solid #333;
}
table {
  width: 800px;
  height: 150px;
margin: auto;
}
thead
{
    background-color: #333;
    color: #fff;
}
